DB_NAME=skoob
DB_USER=postgres
DB_PASSWORD=dbpassword
DB_HOST=localhost
DB_PORT=5432
JWT_SECRET_KEY=supersecretkey
GOOGLE_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
GOOGLE_GEMINI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_REDIRECT_CALLBACK_URI=http://localhost:3030/users/auth/google/callback
GOOGLE_REDIRECT_FRONTEND_URI=http://localhost:3000
API_URL=http://127.0.0.1:3030

# ===== admins por defecto =====
ADMIN1_NAME=FerBackend0!!2
ADMIN1_EMAIL=ferdhaban@gmail.com
ADMIN1_PASSWORD=Sup3r:-admin!

ADMIN2_NAME=blas!_f3m0
ADMIN2_EMAIL=programmingblas@gmail.com
ADMIN2_PASSWORD=dante20121

ADMIN3_NAME=cl4us1_m4r
ADMIN3_EMAIL=dasunheimliche7@gmail.com
ADMIN3_PASSWORD=th3b3st_fr0ntend!

ADMiN4_NAME=3r1ick
ADMIN4_EMAIL=csale0202@gmail.com
ADMIN4_PASSWORD=3r1k_is_gr34t!